//? ################################## CSS RESET #####################################################
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'poppins', sans-serif;
    }
//? ################################## Variables #####################################################
$color-bg: #1f1f38;
$color-bg-variant: #2c2c6c;
$color-primary: #4db5ff;
$color-primary-variant: rgba(77, 181, 255, 0.4);
$color-white: #fff;
$color-light: rgba(255, 255, 255, 0.6);
//? ################################## Body Styling #####################################################
body{
    background-color: $color-bg;
    color: $color-white;
    line-height: 1.7;
    background-image: url(../public/assets/bg-texture.png);
}